body {
	background-color: #6B9099;
}

header {
	height: 50%;
	background-color: #444444;
}

#logo {
	text-align: center;
}

.logo {
	text-align: center;
	font-weight: bold;
	font-family: 'Indie Flower', cursive;
	font-size: 50px;
}

#section {
	width: 60%;
}
